In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv("train.csv")

In [6]:
df_train["date"] = pd.to_datetime(df_train["date"])

/var/folders/k6/syjdq5zn2bx56p8jvvmbj_nr0000gn/T/ipykernel_80534/1170409513.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_train["date"] = pd.to_datetime(df_train["date"])

In [7]:
df_train["day_of_week"] = df_train["date"].dt.day_name()

In [8]:
df_train

,id,date,country,store,product,num_sold,day_of_week
0,0,2010-01-01,Canada,Discount Stickers,Holographic Goose,NaN,Friday
1,1,2010-01-01,Canada,Discount Stickers,Kaggle,973.0,Friday
2,2,2010-01-01,Canada,Discount Stickers,Kaggle Tiers,906.0,Friday
3,3,2010-01-01,Canada,Discount Stickers,Kerneler,423.0,Friday
4,4,2010-01-01,Canada,Discount Stickers,Kerneler Dark Mode,491.0,Friday
...,...,...,...,...,...,...,...
230125,230125,2016-12-31,Singapore,Premium Sticker Mart,Holographic Goose,466.0,Saturday
230126,230126,2016-12-31,Singapore,Premium Sticker Mart,Kaggle,2907.0,Saturday
230127,230127,2016-12-31,Singapore,Premium Sticker Mart,Kaggle Tiers,2299.0,Saturday
230128,230128,2016-12-31,Singapore,Premium Sticker Mart,Kerneler,1242.0,Saturday
230129,230129,2016-12-31,Singapore,Premium Sticker Mart,Kerneler Dark Mode,1622.0,Saturday

In [11]:
df_train["date_of_year"] = df_train["date"].dt.strftime('%m-%d')

In [16]:
df_train.rename(columns={"date_of_year":"day_of_year"},inplace=True)

In [17]:
df_train

,id,date,country,store,product,num_sold,day_of_week,day_of_year
0,0,2010-01-01,Canada,Discount Stickers,Holographic Goose,NaN,Friday,01-01
1,1,2010-01-01,Canada,Discount Stickers,Kaggle,973.0,Friday,01-01
2,2,2010-01-01,Canada,Discount Stickers,Kaggle Tiers,906.0,Friday,01-01
3,3,2010-01-01,Canada,Discount Stickers,Kerneler,423.0,Friday,01-01
4,4,2010-01-01,Canada,Discount Stickers,Kerneler Dark Mode,491.0,Friday,01-01
...,...,...,...,...,...,...,...,...
230125,230125,2016-12-31,Singapore,Premium Sticker Mart,Holographic Goose,466.0,Saturday,12-31
230126,230126,2016-12-31,Singapore,Premium Sticker Mart,Kaggle,2907.0,Saturday,12-31
230127,230127,2016-12-31,Singapore,Premium Sticker Mart,Kaggle Tiers,2299.0,Saturday,12-31
230128,230128,2016-12-31,Singapore,Premium Sticker Mart,Kerneler,1242.0,Saturday,12-31
230129,230129,2016-12-31,Singapore,Premium Sticker Mart,Kerneler Dark Mode,1622.0,Saturday,12-31